# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\encore_bjy\eclipse\01_javaWorkspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
